*~
*.elc
%*
\#*\#
abbrev_defs
auto-save-list
recentf
savehist
history
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
places
.smex-items
custom.el
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
.org-id-locations
